body {
    background-color: #000000;
}

.buy {
    color: #02E148;
}

.sell {
    color: #FF3333;
}

h1{
    color: pink;
}

h2{
    color: #02E148;
}

.thead_orders {
    color: #2d6ca2;
}

.table thead tr th, .table tbody tr td {
    border: none;
}
